<section>
  <div class="widget-plan">
    <h1>Plano Pessoal</h1>
    <span>Assistência de saúde personalizada para uma pessoa.</span>
    <h3>Incluso:</h3>

    <div class="itens-plan">
      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Atendimento emergencial 24 horas</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Transporte para consultas médicas</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Suporte básico e avançado de vida</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Acompanhamento em internações</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Atendimento domiciliar de urgência</span>
    </div>
    <div class="btn-class btn-position"(click)="sendPlan(1)"> CONTRATAR AGORA </div>
  </div>
  <div class="widget-plan">
    <h1>Plano Família</h1>
    <span>Assistência completa para você e toda a família.</span>
    <h3>Incluso:</h3>

    <div class="itens-plan">
      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Atendimento emergencial 24 horas para todos os membros</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Transporte para consultas médicas e hospitalares</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Suporte básico e avançado de vida</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Acompanhamento em internações familiares</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Atendimento domiciliar de urgência para a família</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Cobertura de eventos familiares</span>
    </div>
    <div class="btn-class btn-position" (click)="sendPlan(2)"> CONTRATAR AGORA </div>
  </div>

  <div class="widget-plan">
    <h1>Plano Empresa</h1>
    <span>Assistência de saúde para empresas e colaboradores.</span>
    <h3>Incluso:</h3>

    <div class="itens-plan">
      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Atendimento emergencial 24 horas no local de trabalho</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Transporte para consultas e emergências médicas</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Suporte básico e avançado de vida para colaboradores</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Treinamentos em primeiros socorros para funcionários</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Cobertura de eventos corporativos</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Planos de saúde ocupacional</span>

      <img src="../../../assets/icons/check.gif" alt="" />
      <span>Consultoria em segurança e saúde no trabalho</span>
    </div>
    <div class="btn-class btn-position" (click)="sendPlan(3)"> CONTRATAR AGORA </div>
  </div>


</section>
