@import "../../../assets/scss/variables";

section {
  padding: 1vw 4vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  gap: 15px;
}

.widget-plan {
  padding: 2vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b52d21;
  background-color: #eaeaf462;
  animation: fadeIn 3s ease forwards;
  flex-wrap: wrap;
  width: 100%;
  &:hover {
    background-color: #eaeaf4;
    box-shadow: 10px 10px 30px 0px rgb(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
  }
}

.itens-plan {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  align-items: center;
  margin-right: auto;
  margin: 25px;
  cursor: pointer;
  justify-content: center;
  span {
    font-size: 13px;
  }

  .service-selected {
    display: flex;
    align-items: center;
    width: 26vw;
    border-radius: 1vw;
    padding: 0.5vw;
    justify-content: space-between;
    border: 1px solid #b52d214d;
    &:hover {
      border: 1px solid #b52d21;
      background-color: rgba(226, 70, 43, 0.171);
      box-shadow: 10px 10px 30px 0px rgb(0, 0, 0, 0.1);
    }

    img {
      width: 2vw;
    }
  }
}

.content-input {
  display: flex;
}

.btn-position {
  margin-block-start: auto;
}

@media screen and (max-width: $break-tablet-max) {
.itens-plan {

}
}


@media screen and (max-width: $break-mobile) {
  .btn-position {
    font-size: 4vw;
  }
  .service-selected {
    width: 100% !important;

    img {
      width: 6vw !important;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(120);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #b52d21;
  border-color: #b52d21;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg); /* Centralização e rotação */
  display: none;
}

input[type="checkbox"]:checked::before {
  display: block;
}
