<section>
  <div class="widget-plan">
    <h1>Monte agora o plano ideal para você</h1>
    <span>Assistência de saúde personalizada</span>

    <div class="itens-plan">
      <div class="service-selected" *ngFor="let service of services">
        <img src="../../../assets/icons/check.gif" alt="" />
        <span>{{ service.description }}</span>
        <div class="content-input">
          <input type="checkbox" [(ngModel)]="service.isSelected" />
        </div>
      </div>
    </div>
    <div class="btn-class btn-position" (click)="sendPlan()">
      CONTRATAR AGORA
    </div>
  </div>
</section>
