$breakpoint-mobile: 1024px;

$break-mobile: 764px;
$break-tablet-min: 768px;
$break-tablet-max: 1024px;
$break-desktop-max: 1281px;
$break-desktop-xl: 1320px;


$themePrimaryColor: #B52D21;
$themeSecondColor: #ffffff;
$themeThirdColor: #000000;
$buttonColor: #131313;
