<section>
  <div class="company">
    <img src="../../../assets/icons/icon-white-150x150.png" alt="" />
    <span
      >Uma empresa especializada em suporte e transporte básico e avançado de
      vida.</span
    >
  </div>

  <div class="franchise">
    <h1>Filial</h1>
    <div class="content">
      <div class="franc">
        <h3>Araraquara - SP</h3>
        <iframe
          class="iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4394.612542553906!2d-48.1800071!3d-21.788440499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b8f3dfd400dbf3%3A0x82eee74ecc593c71!2sR.%20Volunt%C3%A1rios%20da%20P%C3%A1tria%2C%202173%20-%20Araraquara%2C%20SP%2C%2014801-320!5e1!3m2!1spt-BR!2sbr!4v1722095458705!5m2!1spt-BR!2sbr"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="franc">
        <h3>Sertãozinho - SP</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4904.772265510937!2d-48.00075982474138!3d-21.104642380563707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b99bf9b23fe2b1%3A0xcb14d73cdf07947b!2sAv.%20Am%C3%A2ncio%20Lopes%20-%20Sert%C3%A3ozinho%2C%20SP%2C%2014164-066!5e1!3m2!1spt-BR!2sbr!4v1729532569264!5m2!1spt-BR!2sbr"
          class="iframe"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>

  <div class="contact">
    <h1>Fale conosco</h1>
    <div class="icon">
      <a href="https://www.facebook.com/alternativaresgate/" target="_blank">
        <img src="../../../assets/icons/facebook.svg" alt="Facebook" />
      </a>
      <span>/alternativaresgate</span>
    </div>
    <div class="icon">
      <a href="https://www.instagram.com/alternativaresgate/" target="_blank">
        <img src="../../../assets/icons/instagram.svg" alt="Instagram" />
      </a>
      <span>@alternativaresgate</span>
    </div>
    <div class="icon">
      <a href="https://wa.me/5516997239284" target="_blank">
        <img src="../../../assets/icons/whatsapp.svg" alt="" />
      </a>
      <span> (16) 99724-9285</span>
    </div>
    <div class="icon">
      <img src="../../../assets/icons/email.svg" alt="" />
      <span> alternativaresgate@gmail.com </span>
    </div>
  </div>
</section>
