@import "../../../assets/scss/variables";

section {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../../../assets/images/bg-top1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 102vh;
  display: flex;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.bg-top {
  flex: 1;
  background-image: url(../../../assets/images/photo-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  flex: 1;
  display: flex;
  position: relative;
}

.content {
  flex: 1;
  margin-top: 165px;
  display: flex;
  flex: 1;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 65px;
  gap: 26px;
}

.title {
  font-weight: 600;
  font-size: 4vw;
  color: #ffffff;
  line-height: 4vw;
}

.subtitle {
  font-weight: 600;
  font-size: 1.8vw;
  color: #ffffff;
  a {
    text-transform: uppercase;
    font-weight: 700;
    color: #b52d21;
  }
}

@media screen and (max-width: $break-tablet-max) {
  section {
    display: block;
  }

  .bg-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(88, 27, 27, 0.795);
  }
  .content {
    margin-top: 90px;
    padding: 10px;
  }

  .title {
    font-weight: 600;
    font-size: 14vw;
    color: #ffffff;
    line-height: 13vw;
  }
  .subtitle {
    font-size: 6.4vw;
    a {
      text-shadow: 2px 1px 1px #ffff;
    }
  }
  .btn-class {
    padding: 2vw 5vw;
    font-size: 3vw;
  }
}
