<section>
  <div class="bg-top"></div>
  <div class="container">
    <div class="content">
      <span class="title"
        >ALTERNATIVA <br />
        RESGATE</span
      >
      <span class="subtitle"
        ><a>Excelência</a> em Atendimento Médico: <a>Cuidamos</a> da sua saúde
        com <a>total segurança</a> e conforto!</span
      >
      <div class="btn-class" (click)="onButtonClick('business-plan')">
        Contrate Agora e Garanta Seu Suporte Premium
      </div>
    </div>
  </div>
</section>
