<app-social-media></app-social-media>
<section>
  <app-nav (scrollTo)="scrollTo($event)"></app-nav>
</section>

<app-top id="top" (scrollTo)="scrollTo($event)"></app-top>
<app-company id="company"></app-company>
<app-services id="services"></app-services>
<app-business-plan id="business-plan"></app-business-plan>
<app-history id="history"></app-history>
<app-photos-slide></app-photos-slide>
<app-contact id="contact"></app-contact>
<app-footer></app-footer>
<div class="cookie" *ngIf="mostrarAvisoCookie">
  <p>
    Utilizamos cookies para que você tenha a melhor experiência do nosso site.
    Por sua visita contínua ao nosso site, sem alterar suas configurações, você
    concorda com o uso de cookies do Sites Experience.
  </p>
  <button id="fechar_aviso_cookie" (click)="fecharAvisoCookie()">Ok</button>
</div>
