<section>
  <div class="img-company">
    <img src="../../../assets/images/bg-company.png" alt="" />
    <span class="animated-1"
      >A ALTERNATIVA RESGATE é uma empresa especializada em suporte básico e
      avançado de vida, transportando pacientes com baixa, média e alta
      complexidade em diferentes situações: ida e volta de consultas, alta
      hospitalar, transferências municipais e intermunicipais, aluguel de
      ambulâncias, treinamentos, campanhas e cobertura de eventos em
      geral.</span
    >
  </div>
  <div class="info-company">
    <h1>EMPRESA</h1>
    <div class="widget animated-1">
      <div class="icon">
        <img src="../../../assets/icons/visao.png" alt="" />
      </div>
      <div class="title">
        <h3>VISÃO</h3>
        <span
          >Ser reconhecida pela excelência no atendimento pré-hospitalar,
          atuando com profissionalismo, responsabilidade social e ética,
          contribuindo para a qualidade de vida e respeito às pessoas,
          autoridades e órgãos fiscalizadores.</span
        >
      </div>
    </div>

    <div class="widget animated-1">
      <div class="icon">
        <img src="../../../assets/icons/etica.png" alt="" />
      </div>
      <div class="title">
        <h3>ÉTICA</h3>
        <span
          >Ter esse principio como guia no respeito à vida e ao espaço de cada
          cidadão, refletindo em todas as ações e relacionamentos que a empresa
          desenvolve, priorizando o indivíduo sua saúde e seu bem-estar.</span
        >
      </div>
    </div>
    <div class="widget animated-1">
      <div class="icon">
        <img src="../../../assets/icons/seguranca.png" alt="" />
      </div>
      <div class="title">
        <h3>SEGURANÇA</h3>
        <span
          >Ser uma empresa que busca diariamente a qualificação para garantir a
          segurança dos clientes e colaboradores.</span
        >
      </div>
    </div>
    <div class="widget animated-1">
      <div class="icon">
        <img src="../../../assets/icons/sustentabilidade.png" alt="" />
      </div>
      <div class="title">
        <h3>SUSTENTABILIDADE</h3>
        <span
          >Ser uma empresa que busca o crescimento econômico, sem agredir o meio
          ambiente e também colaborar para o desenvolvimento sustentável de uma
          sociedade.</span
        >
      </div>
    </div>
    <div class="widget animated-1">
      <div class="icon">
        <img src="../../../assets/icons/inovacaoemsaude.png" alt="" />
      </div>
      <div class="title">
        <h3>INOVAÇÃO EM SAÚDE</h3>
        <span
          >Estar sempre buscando novos conhecimentos, métodos, recursos,
          tecnologias para garantir segurança e qualidade em nossos
          serviços.</span
        >
      </div>
    </div>
  </div>
</section>
