@import "../../../assets/scss/variables";

section {
  display: flex;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  place-items: center;
}

.img-company {
  flex: 1;
  img {
    width: 100%;
  }
  span {
    padding: 0px 2vw;
    color: #b52d21;
    font-weight: 600;
    font-size: 2vh;
    display: flex;
    text-align: center;
  }
}

.info-company {
  flex: 1;
  h1 {
    margin: 1vw;
    color: #b52d21;
  }
}

.widget {
  border: 1px solid #b52d21;
  border-radius: 1vw;
  display: flex;
  padding: 1vw;
  align-items: center;
  gap: 2vw;
  margin: 1vw;
  .icon {
    img {
      width: 60px;
      height: 60px;
    }
  }
  .title {
    h3 {
      font-size: 0.9vw;
      margin: 0;
      color: #b52d21;
    }
    span {
      font-size: 0.9vw;
    }
  }
}

@media screen and (max-width: $break-tablet-max) {
  section {
    flex-direction: column;
  }
  .img-company {
    position: relative;
    img {
      opacity: 0.1;
    }
    span {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 0 100px;
      font-size: 2vh;
      top: 0;
      align-content: center;
      text-shadow: 1px 0px 9px #a511117a;
      color: rgb(32, 32, 32);
      align-items: center;
    }
  }

  .widget {
    .title {
      h3 {
        font-size: 15px;
      }
      span {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: $break-mobile) {
  .img-company {
    span {
      padding: 0;
    }
  }
  .widget {
    .title {
      h3 {
        font-size: 10px;
      }
      span {
        font-size: 8px;
      }
    }
  }
}
