<section>
  <div class="container">
    <div class="content-img">
      <img src="../../../assets/images/photo1.png" alt="" />
    </div>
    <div class="content-span">
      <span>
        <h1>História</h1>
        Em junho de 2019, surge a Alternativa Resgate por meio do trabalho
        social e voluntário da Casa de Apoio aos Enfermos de Rincão-SP. Com a
        carência e a procura no setor de remoções, nos especializamos e
        começamos a oferecer Suporte Básico e Avançado de Vida em todo o
        território brasileiro.</span
      >
    </div>
  </div>
  <div class="line-right">
    <img src="../../../assets/images/line_right.svg" alt="" />
  </div>

  <div class="container section-2">
    <div class="content-span">
      <span class="span-2">
        <h1>Equipe</h1>
        Nossos colaboradores são multidisciplinares e capacitados em suas
        funções para prestar o melhor atendimento em casos de urgência e
        emergência. Todos os nossos profissionais têm vínculo direto com a
        empresa, sem qualquer tipo de subcontratação. Isso garante maior
        comprometimento e menor rotatividade de profissionais, agregando
        qualidade ao serviço prestado.</span
      >
    </div>
    <div class="content-img right">
      <img src="../../../assets/images/photo2.png" alt="" />
    </div>
  </div>
  <div class="line-right">
    <img src="../../../assets/images/line_left.svg" alt="" />
  </div>

  <div class="container">
    <div class="content-img">
      <img src="../../../assets/images/photo3.png" alt="" />
    </div>
    <div class="content-span">
      <span>
        <h1>Frota</h1>
        Atualmente, trabalhamos com veículos novos, modelos L2H2 e climatizados
        para melhor conforto dos tripulantes e pacientes. Nossos veículos são
        revisados periodicamente em agências autorizadas pela fabricante, o que
        reduz os gastos com avarias.
      </span>
    </div>
  </div>
</section>
