@import "../../../assets/scss/variables";

section {
  background-image: url(../../../assets/images/bg-services.png);
  padding: 1vw 4vw;
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  text-align: center;
  h1 {
    color: #b52d21;
    font-size: 2vw;
    margin: 4vw 0;
  }
}

.widgets-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vw;
  text-align: start;
  margin: 0 8vw;
  .widget {
    background-color: rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    width: 25vw;
    min-height: 20vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    padding: 1vw;

    .content-icon {
      height: 4vw;
      align-content: center;
      .icon-wrapper {
        width: 18%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        img {
          width: 3vw;
          height: 3vw;
        }
      }
    }

    h2 {
      margin-bottom: 0;
      font-size: 1vw;
    }
    span {
      font-size: 1vw;
    }
    .divider {
      height: 0.2vw;
      margin: 10px 0;
      background-color: #b52d21;
    }
  }
}

@media screen and (max-width: $break-mobile) {
  section h1 {
    font-size: 4vw;
  }
  .widgets-service {
    margin: 0 2vw;
    .widget {
      width: 100%;
      .content-icon {
        .icon-wrapper {
          width: 5vw;
        }
      }

      h2 {
        font-size: 10px;
      }
      span {
        font-size: 10px;
      }
    }
  }
}
