<section>
  <h1>O que nos propomos a fazer de melhor?</h1>
  <div class="widgets-service">
    <div class="widget">
      <div class="content-icon">
        <div class="icon-wrapper">
          <img src="../../../assets/icons/services/shield-plus.svg" alt="" />
        </div>
      </div>
      <h2>Área protegida</h2>
      <div class="divider"></div>
      <span>
        Serviços de urgência e emergência médica, com atendimentos pré
        hospitalar (APH), com equipes altamente especializada para qual quer
        tipo de Ocorrências. Disponível para empresas 24h por dia, 7 dias por
        semana.</span
      >
    </div>
    <div class="widget">
      <div class="content-icon">
        <div class="icon-wrapper">
          <img
            src="../../../assets/icons/services/ambulance.svg"
            alt=""
            class="icon-size"
          />
        </div>
      </div>
      <h2>Aluguel de Ambulância</h2>
      <div class="divider"></div>
      <span
        >Ambulâncias novas e equipadas para sua empresa ou seu município.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <div class="icon-wrapper">
          <img
            src="../../../assets/icons/services/house.svg"
            alt=""
            class="icon-size"
          />
        </div>
      </div>
      <h2>Atendimento médico Domiciliar</h2>
      <div class="divider"></div>
      <span
        >Cuidados médicos no conforto da sua casa com profissionais
        especializados.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <div class="icon-wrapper">
          <img
            src="../../../assets/icons/services/public.svg"
            alt=""
            class="icon-size"
          />
        </div>
      </div>
      <h2>Cobertura de Eventos</h2>
      <div class="divider"></div>
      <span
        >Todos suporte de urngência e emergência médica durante todo o
        evento.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <div class="icon-wrapper">
          <img
            src="../../../assets/icons/services/public-speaking.svg"
            alt=""
            class="icon-size"
          />
        </div>
      </div>
      <h2>Palestras, treinamentos e Campanhas</h2>
      <div class="divider"></div>
      <span
        >Educação emocionale capacitação em saúde, segurança e primeiros
        socorros para profissionais, empresas ou comunidades.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <div class="icon-wrapper">
          <img
            src="../../../assets/icons/services/emergency.svg"
            alt=""
            class="icon-size"
          />
        </div>
      </div>
      <h2>Remoção de Pacientes</h2>
      <div class="divider"></div>
      <span
        >Transporte aéreo ou terrestre de baixa médica e alta complexidade em
        todo território nacional.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <div class="icon-wrapper">
          <img
            src="../../../assets/icons/services/assistant.svg"
            alt=""
            class="icon-size"
          />
        </div>
      </div>
      <h2>Tele Medicina</h2>
      <div class="divider"></div>
      <span
        >Atendimento virtual com médico clínico geral, podendo ser realizado do
        conforto de sua residência atraves de um click. Com atendimentos
        ilimitados 24h por dia, 7 dias por semana sem agendamento,
        possibilitando emissão de arquivos, como atestados, receitas e
        encaminhamentos. Disponível para todo o Brasil com planos individual,
        familiar e impresarial.</span
      >
    </div>


  </div>
</section>
