@import "../../../assets/scss/variables";

section {
  background-image: url(../../../assets/images/bg-services.png);
  padding: 1vw 4vw;
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  text-align: center;
  h1 {
    color: #b52d21;
    font-size: 2vw;
    margin: 4vw 0;
  }
}

.widgets-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
  text-align: start;
  margin: 0 3vw;
  .widget {
    background-color: rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    width: 25vw;
    min-height: 240px;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    padding: 1vw;

    .content-icon {
      align-content: center;
      .icon-wrapper {
        width: 80px;
        height: 80px;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        img {
          width: 45px;
          height: 45px;
        }
      }
    }

    h2 {
      margin-bottom: 0;
      font-size: 1vw;
    }
    span {
      font-size: 1vw;
    }
    .divider {
      height: 0.2vw;
      margin: 10px 0;
      background-color: #b52d21;
    }
  }
}

@media screen and (max-width: $break-tablet-max) {
  section {
    padding: 0;
    h1 {
      font-size: 4vw;
    }
  }

  .widgets-service {
    margin: 0 5vw;
    padding: 0 10px;
    .widget {
      min-width: 40%;
      padding: 20px;
      .content-icon {
        .icon-wrapper {
          width: 50px;
          height: 50px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }

      h2 {
        font-size: 10px;
      }
      span {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: $break-mobile) {
  .widgets-service .widget {
    width: 100%;
  }
}

