<section>
  <h1>O que nos propomos a fazer de melhor?</h1>
  <div class="widgets-service">
    <div class="widget">
      <div class="content-icon">
        <img src="../../../assets/icons/services/shield-plus.svg" alt="" />
      </div>
      <h2>Área protegida</h2>
      <div class="divider"></div>
      <span>
        Atendimento emergencial em áreas de preservação com segurança e
        sustentabilidade.</span
      >
    </div>
    <div class="widget">
      <div class="content-icon">
        <img
          src="../../../assets/icons/services/ambulance.svg"
          alt=""
          class="icon-size"
        />
      </div>
      <h2>Aluguel de Ambulância</h2>
      <div class="divider"></div>
      <span
        >Ambulâncias equipadas para emergências, com atendimento qualificado e
        suporte avançado.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <img
          src="../../../assets/icons/services/house.svg"
          alt=""
          class="icon-size"
        />
      </div>
      <h2>Atendimento médico Domiciliar</h2>
      <div class="divider"></div>
      <span
        >Cuidados médicos no conforto da sua casa com profissionais
        especializados.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <img
          src="../../../assets/icons/services/public.svg"
          alt=""
          class="icon-size"
        />
      </div>
      <h2>Cobertura de Eventos</h2>
      <div class="divider"></div>
      <span
        >Atendimento médico completo e emergencial para eventos, com suporte
        especializado e ambulâncias equipadas.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <img
          src="../../../assets/icons/services/public-speaking.svg"
          alt=""
          class="icon-size"
        />
      </div>
      <h2>Palestras, treinamentos e Campanhas</h2>
      <div class="divider"></div>
      <span
        >Educação e capacitação em saúde, segurança e primeiros socorros para
        comunidades e empresas.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <img
          src="../../../assets/icons/services/emergency.svg"
          alt=""
          class="icon-size"
        />
      </div>
      <h2>Remoção de Pacientes</h2>
      <div class="divider"></div>
      <span
        >Transporte seguro e especializado de pacientes, com suporte médico
        adequado durante o deslocamento.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <img
          src="../../../assets/icons/services/hospital-user.svg"
          alt=""
          class="icon-size"
        />
      </div>
      <h2>Atendimento pré hospitalar</h2>
      <div class="divider"></div>
      <span
        >Atendimento 24/7 para urgências, com suporte médico e remoção quando
        necessário.</span
      >
    </div>

    <div class="widget">
      <div class="content-icon">
        <img
          src="../../../assets/icons/services/assistant.svg"
          alt=""
          class="icon-size"
        />
      </div>
      <h2>Call Center médico</h2>
      <div class="divider"></div>
      <span
        >Orientação médica por telefone, telemedicina, suporte APH, transporte,
        UTI móvel, regulação e logística.</span
      >
    </div>
  </div>
</section>
