<section>
  <div class="icon">
    <a href="https://www.facebook.com/alternativaresgate/" target="_blank">
      <img src="../../../assets/icons/facebook.svg" alt="Facebook" />
    </a>
  </div>
  <div class="icon">

    <a href="https://www.instagram.com/alternativaresgate/" target="_blank">
      <img src="../../../assets/icons/instagram.svg" alt="Instagram" />
    </a>
  </div>
  <div class="icon">
    <a href="https://wa.me/5516997249285" target="_blank">
    <img src="../../../assets/icons/whatsapp.svg" alt="" />
  </a>
  </div>
</section>
