/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scrollbar-color: #b52d21 #ffffff;
  scrollbar-width: thin;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #ffffff;
}

.btn-class {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  background-color: #b52d21;
  border: none;
  border-radius: 1vw;
  color: #ffffff;
  height: max-content;
  width: max-content;
  padding: 1vw 3vw;
  font-weight: 600;
  font-size: 1vw;
  &:hover {
    color: #b52d21;
    background-color: #ffffff;
    box-shadow: 10px 10px 20px 0 #b52d21;
    transform: scale(1);
  }
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #b52d21;
  padding: 5px 15px;
  background-color: #eaeaf4;
  box-shadow: 10px 10px 30px 0px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #808289;
}

input::placeholder {
  color: #808289;
}

input:focus {
  color: #64666d;
  background-color: #ffffff;
}

textarea.formulario {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #b52d21;
  padding: 15px 20px;
  background-color: #eaeaf4;
  box-shadow: 10px 10px 30px 0px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  resize: none;
}

textarea.formulario[name="foo"] {
  resize: none;
}

textarea.formulario::placeholder {
  color: #808289;
}

textarea.formulario:focus {
  color: #64666d;
  background-color: #ffffff;
}
